@font-face {
  font-family: bricolage;
  src: url(/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

:root {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: bricolage;
  user-select: none;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 1fr 1fr;
  background-color: whitesmoke;
}

#title {
  font-size: 50px;
  padding-left: 10px;
  align-self: center;
}

#add {
  font-size: 20px;
  text-align: end;
  padding-right: 20px;
  align-self: center;
}

#shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.button:hover {
  color: pink;
}

.popup {
  width: 400px;
  position: absolute;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  top: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}