@font-face {
  font-family: bricolage;
  src: url(/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

:root {
  height: 100%;
  font-family: bricolage;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
}

.header {
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  grid-template-columns: 1fr 1fr;
  background-color: #f43f5e;
}

#title {
  font-size: 50px;
  padding-left: 10px;
  align-self: center;
}

#add {
  font-size: 20px;
  text-align: end;
  padding-right: 20px;
  align-self: center;
}

.button:hover {
  color: #fecdd3;
}

.popup {
  width: 25vw;
  height: 400px;
  position: absolute;
  background: #fff;
  border: solid 2px black;
  border-radius: 6px;
  text-align: center;
  top: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 10%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  text-align: center;
  align-items: center;
  margin-top: 5%;
}

input {
  font-family: bricolage;
  font-size: 80%;
  padding-left: 10px; 
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: solid black 2px;
  outline: none;
  box-shadow: none;
}

input:focus {
  border-color: #fb7185;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%);
}

.check {
  font-size: 70%;
}

.submit {
  height: 50px;
  background-color: #fb7185;
}

.submit:hover {
  border-color:#f43f5e;
}

#shelf {
  margin: 10px;
  display: grid;
  place-items: center;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  font-size: 100%;
  border: 4px #f43f5e solid;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardButton {
  display: flex;
  border-radius: 15px;
  border: solid 2px black;
  font-size: 100%;
  width: 120px;
  height: 30px;
  font-family: bricolage;
  justify-content: center;
  align-items: center;
}

.cardButton:hover {
  border-color:#fb7185;
}

.readButton {
  background-color:#fb7185;
}

.bookRead {
  background-color: aquamarine;
}
